body {
    background: #333;
    color: #fff;
    font-family: Calibri, Arial, sans-serif;
    font-size: 150%;
    margin: 0; /* keep this */
}

h1 {
  float: left;
}

header {
  width: 100%;
  padding-left: 50px;
  overflow: auto;
  box-sizing: border-box;
}

nav {
  float: right;
  margin-right: 100px;
  box-sizing: border-box;
}

li {
  float: left;
  text-align: center;
  list-style: none;
  margin-left: 25px;
}

section>p {
  text-align: center;
}

img {
  display: block;
  box-sizing: border-box;
}

section {
  float: right;
  overflow: auto;
}

#cougar {
    background: #82E8FF;
    color: #000;
}

#lion {
    background: #B26219;
    color: #000;
}

#tiger {
    background: #FFD5AE;
    color: #000;
}

article {
    box-sizing: border-box;
    float: right;
    width: 50%;
    padding: 73px 20px 0px 20px;
}

div {
  float: left;
  padding-left: 30px;
  padding-right: 30px;
  width: 50%;
  box-sizing: border-box;
}

footer {
    text-align: center;
    padding: 20px 400px;
}

/* ----- suggested colors -----
   B26219 cinnamon
   FFD5AE pale peach
   FFBD82 peach
   379CB2 medium blue
   82E8FF light blue

   ----- neutral colors -----
   000 black
   333 charcoal
   666 dark medium gray
   999 light medium gray
   ccc pale gray
   fff white
*/


/* --- links and nav --- */

a { color: #379CB2; }
a:hover { color: #82E8FF; }
